* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("balatresco.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  color: #111;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.logo img {
  width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #ffcc00;
}


#Titulo {
  margin-top: 150px;
  text-align: center;
}


section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px;
  margin: 100px auto;
  width: 80%;
  border-radius: 15px;
  gap: 20px;
}


.galeria {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20%;
justify-content: space-between;
padding: 25px;
}
.imagengaleria img {
display: flex;
height: 200px;
object-fit: cover;
border-radius: 15px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.imagengaleria:hover {
transform: scale(1.05);
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


section img {
  border-radius: 10px;
  object-fit: cover;
}

section div {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  width: 80%;
  padding-left: 5%;
}

.texto-tierlist{
font-family: 'Times New Roman', Times, serif;
}











